[Unit]
Description=Releve des cles globales du monde Valheim, toutes les 5 minutes

[Timer]
OnBootSec=4min
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
